<html>
<head>
  <meta charset="utf-8" />
  <link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,....==" />
  <title>FreeCycle</title>

  <style>
  </style>
  <!-- vue installation--> <!--https://get.foundation/sites/docs/-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Foundation Framework -->
  <!-- Compressed CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">

</head>
<body>
  <div class="title-bar">
    <div class="title-bar-left">
      <span class="title-bar-title">
        <h1><strong>FreeCycle</strong></h1>
      </span>
    </div>
  </div>
  <div id="app">
    <div class="top-bar">
      <form  @:submit.prevent="create_item" data-field="user_id">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">

            <div class="small-3 cell">
              <label for="middle-label" class="text-right middle">User Id: </label>
            </div>
            <div class="small-9 cell">
              <input id="middle-label" v-model="Item.user_id" name="user_id" type="text" placeholder="type your name in">
            </div>

            <div class="small-3 cell">
              <label for="middle-label" class="text-right middle">Keywords: </label>
            </div>
            <div class="small-9 cell">
              <input id="middle-label" v-model="Item.keywords" name="keywords" type="text" placeholder="type some keywords">
            </div>

            <div class="small-3 cell">
              <label for="middle-label" class="text-right middle">Description: </label>
            </div>
            <div class="small-9 cell">
              <textarea v-model="Item.description" name="description" type="text" placeholder="enter a description"></textarea>
            </div>

            <div class="small-3 cell">
              <label for="middle-label" class="text-right middle">Image: </label>
            </div>
            <div class="small-9 cell">
              <input id="middle-label" v-model="Item.image" name="image" type="url" placeholder="input your image url">
            </div>

            <div class="small-3 cell">
              <label for="middle-label" class="text-right middle">Latitude: </label>
            </div>
            <div class="small-9 cell">
              <input id="middle-label" v-model="Item.lat" name="lat" type="text" placeholder="type your latitude">
            </div>

            <div class="small-3 cell">
              <label for="middle-label" class="text-right middle">Longitude: </label>
            </div>
            <div class="small-9 cell">
              <input id="middle-label" v-model="Item.lon" name="lon" type="text" placeholder="type your longitude">
            </div>

            <div class="small-3 cell">
              <button id="middle-label"class="button" data-action="create_item">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br />

    <!--https://get.foundation/sites/docs/xy-grid.html-->   
    <ul style="list-style:none">
      <li v-for="Item in Items">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
              <div class="medium-6 cell">
                  <div class="card">
                    <div class="card-divider">
                      <h4><span data-field="id">{{Item.user_id}}</span></h4>
                    </div>
                    <div class="card-section">
                      <img :src="Item.image">
                      <div class="card-section">
                        <dl>
                          <dt>Keywords: </dt>
                          <dd>{{Item.keywords}}</dd>
                          <dt>Description: </dt>
                          <dd>{{Item.description}}</dd>
                          <dt>Latitude: </dt>
                          <dd>{{Item.lat}}</dd>
                          <dt>Longitude: </dt>
                          <dd>{{Item.lon}}</dd>
                          <br><button class="button" @click="delete_item(Item.id)" data-action="delete">Delete</button>
                        </dl>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>   
    </div>
  </div>
</div>
<script type="module">
const { createApp } = Vue

const DEFAULT_API = '/api/v1';  // default to current http(s)://currentHost:currentPort/api/v1'
const urlParams = new URLSearchParams(window.location.search);
const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');

createApp({
  data(){
    return {
        Item: {
          id:'',
          user_id:'',
          keywords:'',
          description:'',
          image:'',
          lat:'',
          lon:'',
          date_from:'',
          date_to:''
        },
        Items: [],
  }
},
  created() {
    this.clear_Item()
    this.get_Items()
},
  methods: {
    clear_Item() {
      this.Item = { ...this.Item, ...{
        user_id: '',
        keywords: '',
        description: '',
        image: '',
        lat: '',
        lon: '',
      }}
    },
    create_item() {
      fetch(`${urlAPI}/item`, {
        method:'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(this.Item),
      })         
        .then(response => response.json())
        .then(json => console.log('create_item()',json))
        .then(this.clear_Item)
        .then(this.get_Items)
        .catch(err=>console.error(err));
    },
    get_Items() {
      fetch(`${urlAPI}/items`, {
        method: 'GET',
      })
      .then(response => response.json())
      .then(data => this.Items = data)
      .catch(err => console.error(err));
    },
    delete_item(id){
      fetch(`${urlAPI}/item/${id}`,{
        method: 'DELETE',
      })
      .then (json => console.log('delete_item()', json))
      .then (this.get_Items)
        .catch(err=>console.error(err));
    }
  }
}).mount('#app')

</script>
</body>
</html>