<html>
<head>
   <meta charset="utf-8" />
   <link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,....==" />
   <title>Boilerplate</title>

   <style>

   </style>

   <script src="https://unpkg.com/vue@3/dist/vue.global.js">
   </script>

</head>
<body>
   <h1>HTML Boilerplate</h1>
   <div id="app">
    {{ message }}
     <form @submit.prevent="addItem">
       <input v-model="item.user_id" name="name" type="text" placeholder="type your name in">
       <input v-model="item.keyword" name="notes" type="text" placeholder="type your notes">
       <button>Submit</button>
     </form>

     <ul>
       <li v-for="item in items">
         <span>{{item.user_id}}</span>
         <span>{{item.keyword}}</span>
         <button @click="deleteItem(item.user_id)">Delete</button>
       </li>
     </ul>
   </div>
<script type="module">
const { createApp } = Vue

const urlParams = new URLSearchParams(window.location.search);
    const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');

//let urlAPI = '' // 'https://8000-kieranbest-frameworksan-rkxnupaltqd.ws-eu71.gitpod.io'
createApp({
  data() {
    return {
      item: {
        user_id: '',
        keyword: '',
      },
      items: [
    ],
     message: 'Hello There!',
  }
 },
  created() {
   this.clearItem()
   this.getItems()
 },
  methods: {
   clearItem() {
     this.item = {...this.item, ...{
       id: Math.random(),
       name: '',
       notes: '',
    }}
  },
   addItem() {
     fetch(`${urlAPI}/item/`, {
       method:'POST',
       headers: {'Content-Type': 'application/json'},
       body: JSON.stringify(this.item),
    })
      .then(response => response.json())
      .then(json => console.log('addItem()', json))
      .then(this.clearItem)
      .then(this.getItems)
      .catch(err=>console.error(err));
  },
   getItems() {
      fetch(`${urlAPI}/items`, {
        method: 'GET',
})
      .then(response => response.json())
      .then(data => this.items = data)
      .catch(err => console.error(err))
    },
    deleteItem(user_id){
    fetch('${urlAPI}/item/${user_id}',{
        method: 'DELETE',
    })
    .then (this.getItems)
    .catch(err=>console.error(err));
  }
}
}).mount('#app')

</script>
</body>
</html>