<html>
<head>
   <meta charset="utf-8" />
   <link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,....==" />
   <title>Boilerplate</title>

   <style>

   </style>

   <script src="https://unpkg.com/vue@3/dist/vue.global.js">
   </script>

</head>
<body>
   <h1>HTML Boilerplate</h1>
   <div id="app">
    {{ message }}
     <form @submit.prevent="addItem">
       <input v-model="Item.user_id" name="name" type="text" placeholder="type your name in">
       <input v-model="Item.keyword" name="notes" type="text" placeholder="type your notes">
       <button>Submit</button>
     </form>

     <ul>
       <li v-for="Item in Items">
         <span>{{Item.user_id}}</span>
         <span>{{Item.keyword}}</span>
         <button @click="deleteItem(Item.user_id)">Delete</button>
       </li>
     </ul>
   </div>
<script type="module">
const { createApp } = Vue

// const urlParams = new URLSearchParams(window.location.search);
//     const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');

const urlAPI = 'https://8000-kieranbest-frameworksan-rkxnupaltqd.ws-eu72.gitpod.io/vue.html'
createApp({
  data() {
    return {
      Item: {
        user_id: '',
        keyword: '',
      },
      Items: [
        {"user_id":"user123","keyword":"keyword"}
    ],
    message: 'Hello There!',
  }
},
  created() {
   this.clearItem()
   this.getItems()
},
  methods: {
    clearItem() {
      this.Item = {...this.Item, ...{
        id: Math.random(),
        name: '',
        notes: '',
      }}
    },
    addItem() {
      fetch(`${urlAPI}/item/`, {
        method:'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(this.Item),
      })
        .then(response => response.json())
        .then(json => console.log('addItem()', json))
        .then(this.clearItem)
        .then(this.getItems)
        .catch(err=>console.error(err));
    },
    getItems() {
      fetch(`${urlAPI}/items`, {
        method: 'GET',
      })
      .then(response => response.json())
      .then(data => this.attendees = data)
      .catch(err => console.error(err))
    },
    deleteItem(user_id){
      fetch(`${urlAPI}/item/${user_id}`,{
        method: 'DELETE',
      }).then (this.getItems)
        .catch(err=>console.error(err));
    }
  }
}).mount('#app')

</script>
</body>
</html>